
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "~bootswatch/dist/cosmo/variables";
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";
// // Bootswatch
@import "~bootswatch/dist/cosmo/bootswatch";

@import "fonts";
@import "main";
body {
  background: #f8f8f8;
}
.bg-primary {
  background-color: #262b3e !important;
}
.navbar-brand {
  padding: 0;
  line-height: 1.2;
  font-size: 22px !important;
}
.navbar-brand img {
  height: 28px;
}
.navbar-light .navbar-nav .nav-link,.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #fff !important;
}
.navbar .search {
  border: 0;
  color: #fff;
}
.navbar a:not(.btn):not(.dropdown-item) {
  color: #fff;
}