.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: transparent;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0;

  & > hr {
    margin-right: 0;
    margin-left: 0;
  }

  & > .list-group:first-child .list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  & > .list-group:last-child .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.5rem;
  }

  &-title {
    margin-bottom: 0.75rem;
  }

  &-subtitle {
    margin-top: -0.375rem;
    margin-bottom: 0;
  }

  &-text:last-child {
    margin-bottom: 0;
  }

  &-link {
    &:hover {
      text-decoration: none;
    }
    & + & {
      margin-left: 1.5rem;
    }
  }

  &-header {
    padding: 0.75rem 1.5rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 0 solid rgba(0, 0, 0, 0.125);

    &:first-child {
      border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
    }

    & + .list-group .list-group-item:first-child {
      border-top: 0;
    }

    &-tabs {
      margin-right: -0.75rem;
      margin-bottom: -0.75rem;
      margin-left: -0.75rem;
      border-bottom: 0;
    }

    &-pills {
      margin-right: -0.75rem;
      margin-left: -0.75rem;
    }
  }

  &-footer {
    padding: 0.75rem 1.5rem;
    background-color: #fff;
    border-top: 0 solid rgba(0, 0, 0, 0.125);

    &:last-child {
      border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    }
  }

  &-img {
    width: 100%;
    border-radius: calc(0.25rem - 1px);

    &-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 1.25rem;
    }

    &-top {
      width: 100%;
      border-top-left-radius: calc(0.25rem - 1px);
      border-top-right-radius: calc(0.25rem - 1px);
    }
    &-bottom {
      width: 100%;
      border-bottom-right-radius: calc(0.25rem - 1px);
      border-bottom-left-radius: calc(0.25rem - 1px);
    }
  }

  &-deck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    .card {
      margin-bottom: 15px;
    }
  }

}
@media (min-width: 576px) {
  .card-deck {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px; }
  .card-deck .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-right: 15px;
    margin-bottom: 0;
    margin-left: 15px; } }
.card-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
.card-group > .card {
  margin-bottom: 15px; }
@media (min-width: 576px) {
  .card-group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap; }
  .card-group > .card {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
    margin-bottom: 0; }
  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0; }
  .card-group > .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .card-group > .card:first-child .card-img-top, .card-group > .card:first-child .card-header {
    border-top-right-radius: 0; }
  .card-group > .card:first-child .card-img-bottom, .card-group > .card:first-child .card-footer {
    border-bottom-right-radius: 0; }
  .card-group > .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .card-group > .card:last-child .card-img-top, .card-group > .card:last-child .card-header {
    border-top-left-radius: 0; }
  .card-group > .card:last-child .card-img-bottom, .card-group > .card:last-child .card-footer {
    border-bottom-left-radius: 0; }
  .card-group > .card:only-child {
    border-radius: 0; }
  .card-group > .card:only-child .card-img-top, .card-group > .card:only-child .card-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0; }
  .card-group > .card:only-child .card-img-bottom, .card-group > .card:only-child .card-footer {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0; }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) {
    border-radius: 0; }
  .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-top, .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-img-bottom, .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-header, .card-group > .card:not(:first-child):not(:last-child):not(:only-child) .card-footer {
    border-radius: 0; } }
.card-columns .card {
  margin-bottom: 0.75rem; }
@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1.25rem;
    column-gap: 1.25rem; }
  .card-columns .card {
    display: inline-block;
    width: 100%; } }
.card {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px; }
.card a:not(.btn) {
  color: inherit;
  text-decoration: none; }
.card p a {
  text-decoration: underline; }
.card-outline {
  border: 1px solid rgba(0, 0, 0, 0.1); }
.card-header time {
  margin-bottom: .5rem;
  display: inline-block; }
.card-img {
  -webkit-transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 0.2s cubic-bezier(0.42, 0, 0.58, 1); }
.card-img:hover {
  -webkit-box-shadow: 0 18px 32px -18px #000;
  box-shadow: 0 18px 32px -18px #000;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px); }
.card-text a {
  text-decoration: underline; }
.card-meta a:hover, .card-meta a:hover time {
  text-decoration: underline; }
